body {
    background-color: blueviolet;
}
img {
    height: 200px;
    width: 1300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornsilk;
}
li {
 float: left;
}
a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px;
    text-decoration: none   ;
}